{% extends 'accounts/basic.html' %}
{% block content %}
    {% include 'accounts/status.html' %}
    <h1>User Profile</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-body m-4">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Note</th>
                        <th>Data Ordered</th>
                        <th>Status</th>
                    </tr>
                    {% for data in orders %} 
                    <tr>
                        <td>{{data.product}}</td>
                        <td>{{data.note}}</td>
                        <td>{{data.data_created}}</td>
                        <td>{{data.status}}</td>
                    </tr>  
                    {% endfor %} 
                    </table>
                </div>
            </div>    
        </div>
    </div>
</div>

{% endblock %}
    